@(ids: ArrayList[String])

@main("Welcome to Freelancelot") {
  <h1 align="center">Welcome to Freelancelot</h1>
  
  <div id="search" align="center">
  
        <form id="searchForm" actions="@routes.HomeController.index()" method="POST">
            <input id="phrase" name="query" type="text" placeholder="Enter Keywords" value="">
           	<input type="submit" value="Go!">
        </form>

	<div id="dataContainer">
			<div id = "dataSet" align="center">
			<p><div id="result">Search Results for query</div></p>	
			@for(id <- ids){
   				 @id <br>
}
			</div>
	</div>

		
    <style>
        .results {
            max-height: 500px;
        }
        
    </style>

}

