@(message: String)

@main("Welcome to Freelancelot") {
  <h1 align="center">Welcome to Freelancelot</h1>
  
  <div id="search" align="center">
        <form id="searchForm" actions="@routes.HomeController.index()" method="POST">
            <input id="phrase" name="query" type="text" placeholder="Keywords" value=" ">
           
            <button id = "sbmt" type="submit" class="btn" onclick = "add()"> Go!</button>
            
        </form>
			
    </div>
		<div id="dataContainer">
			<div id = "dataSet" align="center">
			<p><div id="result">@message</div></p>
		
			</div>
		</div>
    <style>
        .results {
            max-height: 500px;
        }
    </style>
    <script>    	
    	function add(e)
    	{
    		const container = document.getElementById("dataContainer");
    		const section = document.getElementById("dataSet");
    		container.appendChild(section.cloneNode(true));
    		e.preventDefault();
    	}
    </script>
 
   }
