@(message: String, empl: Employer, display: ArrayList[Display] )
@main("Welcome to Freelancelot") {
  <h1 align="center">Employer Profile</h1>
  

	<div align=center>
		<table>
					<tr> Id: @empl.getOwner_id </tr><br>
  					<tr> Username: @empl.getUsername</tr><br>
  					<tr> Role: @empl.getRole </tr><br>
  					<tr> Country: @empl.getCountry </tr><br>
  					<tr> Time Zone: @empl.getTime_zone</tr><br>

					
		</table>
	</div>
	
	
	<div>
				<br>
				<br>
				<table align=center>
				@for(dis <- display){
					<tr>
  					<td>  &nbsp <a href="http://localhost:9000/freelancelot/@message/employer/@dis.getOwner_id">  @dis.getOwner_id  </a> &nbsp  </td>
  					<td>  &nbsp  @dis.getTime_submitted  &nbsp  </td>
  					<td>  &nbsp  @dis.getTitle  &nbsp  </td>
  					<td>  &nbsp  Type: @dis.getType  &nbsp  </td>
  					<td>  &nbsp Skills: <a href="#"> @dis.getSkills  &nbsp  </td>
  					<td> &nbsp  <a href="http://localhost:9000/freelancelot/stats/user/@dis.getOwner_id/@dis.getTitle">  Stats  </a> &nbsp  </td>
  					<td>  &nbsp <a href="http://localhost:9000/freelancelot/readability/user/@dis.getOwner_id/@dis.getTitle">  Readability  </a> &nbsp  </td>
					</tr>
				}
				</table>
	</div>

		
    <style>
	
		tr {
  			padding: 2px;
  			text-align: left;
  			font-size:15px;
		}
		
 
    </style>

	<script>

  			
	</script>
}